# don't track this as it has private stuff. Use the template instead
main/credentials.h

# never add the build dir
build

# don't archive the components stuff - that's in the config file
managed_components
dependencies.lock
